* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

div.nonFixed {
    position: relative;
    top: 80px;
}

/* NavBar Start */

nav {
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

img.logo {
    width: 70px;
    margin: 5px 70px;
}

ul.navs {
    display: flex;
    list-style-type: none;
    float: right;
    margin: 0 70px 0 0;
}

li.nav {
    color: white;
    margin: 20px;
    line-height: 40px;
}

/* NavBar Complete */

/* Slider and Cart Start (on scroll cart ko nav k under krdena hai)*/

div.Sli_Cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

div.sliding {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
    background-color: rgb(134, 27, 27);
    width: 90%;
    height: 50px;
}

div.cart {
    border: 2px rgb(134, 27, 27) solid;
    border-top: none;
    background-color: white;
    float: right;
    height: 60px;
    width: 10%;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#ValueMethod{
    height: 20px;
}

/* Slider and Cart Finish (Cart Styling Balance) */

/*  BigSlider Start  */

div.carousel-inner {
    height: 500px;
    overflow: hidden;
}

/*  BigSlider Close  */

/* Latest Semi Fancy Set Start */
h2.semiFancy{
    color: maroon;
    font-weight: bold;
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
div.swiper-container {
    /* margin-top: 250px; */
    height: 600px;
}
div.swiper-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
}
div.swiper-slide{
width: 300px;
height: 300px;
border-radius: 7px;
}
div.swiper-slide img{
    width: 300px;
    height: 300px;
    border-radius: 7px;
}
.swiper-slide-active{
    transform: scale(1.5);
    border-radius: 10.5px;
    transition: .4s;
}
/* Latest Semi Fancy Set Finish */

/* Seperator Start */
hr.fancys_line{
    height: 5px!important;
    width: 250px!important;
    opacity: 1!important;
    color: maroon;
    border-radius: 10px;

}
div.seperator{
    display: flex;
    justify-content: space-around;
    margin:10px 200px;
}
img.logo2 {
    width: 60px;
    height: 60px;
    background-color: maroon;
    border-radius: 20px;
}

/* Seperator Finish */

/* Top Sell prints Start */

div.top_sell {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2.top_sell {
    color: maroon;
}

div.top_images {
    width: 98vw;
    height: 500px;
    /* opacity: 0.25; */
    background: url(./Images/wool-plaid-white-bedsheet.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.topImage {
    border: maroon 1px solid;
    width: 20vw;
    height: 350px;
}

/* Top Sell prints finish */

/* Product Display Starts */

/* Product Display Finish */

/* PRoduct With Span Text Start */

div.textPro {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px 200px;
}

span {
    width: 400px;
}

img.textPro {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}

div.textAlternative {
    flex-direction: row-reverse;
}

span.text>p, span.text>h2 {
    color: maroon;
    margin: 20px;
}

div.line {
    height: 1740px;
    width: 5px;
    background-color: maroon;
    position: absolute;
    right: 50%;
    margin-top: 20px;
    border-radius: 30px;
}

/* PRoduct With Span Text Finish */

/* Footer Starts */

div.footer {
    background-color: #E0E0E0;
    height: 250px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

p.foot, h4.footHead {
    color: maroon;
}

i {
    color: maroon;
}

hr.red {
    background-color: maroon;
    height: 2px !important;
    opacity: 1 !important;
}
div.custCare i{
    margin: 5px;
}

/* Footer Finish */