* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

div.nonFixed {
    position: relative;
    top: 80px;
}

/* NavBar Start */

nav {
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

i.fa-bars {
    display: none;
}

img.logo {
    width: 70px;
    margin: 5px 70px;
}

ul.navs {
    display: flex;
    list-style-type: none;
    float: right;
    margin: 0 20px 0 0;
}

li.nav {
    color: white;
    margin: 20px;
    line-height: 40px;
    transition: transform 70ms ease;
}

li.nav:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

/* NavBar Complete */

/* Slider and Cart Start (on scroll cart ko nav k under krdena hai)*/

div.Sli_Cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

div.sliding {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
    background-color: rgb(134, 27, 27);
    width: 90%;
    height: 50px;
}

div.cart {
    border: 2px rgb(134, 27, 27) solid;
    border-top: none;
    background-color: white;
    float: right;
    height: 60px;
    width: 150px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

option, select {
    color: maroon;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

select:focus, option:focus {
    outline: none;
}

div.ul {
    display: flex;
    align-items: center;
}

#ValueMethod {
    height: 20px;
}

/* Slider and Cart Finish (Cart Styling Balance) */

/*  BigSlider Start  */

div.carousel-inner div img {
    min-height: 600px;
    overflow: hidden;
}

div.bigSliderText {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 250px;
    left: 50px;
}

div.bigSliderText p {
    color: maroon;
}

div.bigSliderText h2 {
    color: maroon;
    font-weight: bold;
}

/*  BigSlider Close  */

/* Latest Semi Fancy Set Start */

h2.semiFancy {
    color: maroon;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.swiper-container {
    height: 600px;
}

div.swiper-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

div.swiper-slide {
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

div.swiper-slide img {
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

.swiper-slide-active {
    transform: scale(1.5);
    border-radius: 10.5px;
    transition: .4s;
}

/* Latest Semi Fancy Set Finish */

/* Seperator Start */

hr.fancys_line {
    height: 5px!important;
    width: 250px!important;
    opacity: 1!important;
    color: maroon;
    border-radius: 10px;
}

div.seperator {
    display: flex;
    justify-content: space-around;
    margin: 10px 200px;
}

img.logo2 {
    width: 60px;
    height: 60px;
    background-color: maroon;
    border-radius: 20px;
}

/* Seperator Finish */

/* Top Sell prints Start */

div.top_sell {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2.top_sell {
    color: maroon;
}

div.top_images {
    width: 95vw;
    height: 500px;
    /* opacity: 0.25; */
    background: url(./Images/wool-plaid-white-bedsheet.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.topImage {
    border: maroon 1px solid;
    width: 300px;
    height: 350px;
}

/* Top Sell prints finish */

/* Product Display Starts */

/* Product Display Finish */

/* PRoduct With Span Text Start */

div.textPro {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px 200px;
}

span {
    width: 400px;
}

img.textPro {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}

div.textAlternative {
    flex-direction: row-reverse;
}

span.text>p, span.text>h2 {
    color: maroon;
    margin: 20px;
}

div.line {
    margin-bottom: 5px;
    height: 48.5%;
    width: 5px;
    background-color: maroon;
    position: absolute;
    right: 50%;
    margin-top: 20px;
    border-radius: 30px;
}

/* PRoduct With Span Text Finish */

/* Footer Starts */

div.footer {
    background-color: #E0E0E0;
    height: 250px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

p.foot, h4.footHead {
    color: maroon;
}

i {
    color: maroon;
}

hr.red {
    background-color: maroon;
    height: 2px !important;
    opacity: 1 !important;
}

div.custCare i {
    margin: 5px;
}

/* Footer Finish */

/* Media Query for index Page Start*/

@media only screen and (max-width:1350px) {
    span {
        width: 350px;
    }
    img.textPro {
        width: 350px;
        height: 350px;
    }
    div.line {
        height: 45.5%;
    }
}

@media screen and (max-width:1200px) {
    div.topImage {
        width: 250px;
        height: 300px;
    }
    span {
        width: 300px;
    }
    img.textPro {
        width: 300px;
        height: 300px;
    }
    div.line {
        height: 42%;
    }
    div.swipBtn {
        display: none !important;
    }
    div.carousel-inner {
        height: 500px;
        overflow: hidden;
    }
}

@media screen and (max-width:1096px) {
    div.swiper-slide img {
        width: 250px;
        height: 250px;
        border-radius: 7px;
    }
    div.line {
        display: none;
    }
}

@media screen and (max-width:992px) {
    div.topImage {
        margin: 10px;
        width: 210px;
        height: 250px;
    }
    hr.fancys_line {
        width: 150px !important;
        margin-left: 5px;
        margin-right: 5px;
    }
    div.textPro span {
        min-width: 300px;
        min-height: 200px;
        margin: auto 10px;
        overflow: hidden;
    }
    ul.navs {
        margin-right: 5px;
        font-size: 20px;
    }
    nav img.logo {
        width: 70px;
        margin: 5px 5px;
    }
    div.cart {
        height: 40px;
        width: 100px;
    }
    div.swiper-slide img {
        width: 200px;
        height: 200px;
        border-radius: 7px;
    }
    div.swiper-container {
        height: 400px;
        padding-top: 100px;
    }
    div.top_images {
        width: 98vw;
        height: 400px;
    }
    p.foot {
        font-size: 14px;
    }
    h4.footHead {
        font-size: 20px;
    }
}

@media only screen and (max-width:768px) {
    ul.navs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 1rem;
        width: 100vw;
        background-color: maroon;
        text-align: center;
        position: absolute;
        left: -100%;
        transition: all 0.5s;
        top: 100px;
        height: 100vh;
        width: 100%;
    }
    div.mediaQueryCart {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    li.nav {
        display: flex;
        justify-content: center;
        font-weight: normal;
        border-bottom: solid 1px #fff;
        width: 700px;
        margin-right: 50px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    i.fa-bars {
        display: inline-block;
        z-index: 20;
        color: #FFF;
    }
    div.logoAndtoogleButton {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 15px;
    }
    div.Sli_Cart {
        display: none;
    }
    .swiper-slide-active {
        transform: scale(1);
    }
      div.swiper-slide img {
          transform: scale(1.5);
    }
    div.textPro{
        flex-direction: column;
        align-items: center;
        margin: 0;
        
    }
    span{
        width: 380px;
    }
}
/* Media Query for index Page End*/